.container {
  position: absolute;
  background-color: #FFFFFF;
  z-index: 30;
  right: 0px;
  padding: 32px 16px;
  font-family: "Raleway";
  top: 30px;
  height: 625px;
  overflow: scroll;
}

.title-container {
  display: flex;
  gap: 6px;
}

.title {
  color: #1d1f22;
  font-size: 16px;
  font-weight: bold;
}

.title-content {
  color: #1d1f22;
  font-size: 16px;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1d1f22;
  font-size: 16px;
  font-weight: bold;
  margin-top: 41px;
}

.place-order-button {
  background-color: #5ECE7B;
  color: white;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: bold;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  margin-top: 32px;
  cursor: pointer;
}