.cartColor-container {
  gap: 10px;
}

.cartColor-item-wrapper {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 1px solid blue;
}

.cartColor-item-center {
  width: 16px;
  height: 16px;
}

.cartColor-title {
  color: #1d1f22;
  font-size: 14px;
  margin-bottom: 8px;
}

.cartColor-item {
  width: 20px;
  height: 20px;
  position: relative;
}

.cartColor-center {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.cartColor-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cartColor-border {
  background-color: transparent;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}

