.cardItemWrapper {
  transition: all 0.3s ease;
  padding: 16px;
  cursor: pointer;
  position: relative;
}

.cardItemWrapper:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cardItemImage {
  width: 100%;
  height: 330px;
}

.cardItemImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardItemName {
  color: #1d1f22;
  font-size: 18px;
  margin-top: 24px;
}

.cardItemPrice {
  color: #1d1f22;
  font-size: 18px;
  line-height: 1.6;
  font-weight: bold;
}

.addToCartWrapper {
  position: absolute;
  right: 12px;
  bottom: 52px;
  z-index: 100;
}
