.headerWrapper {
  padding: 12px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerWrapper > div {
  display: flex;
  gap: 34px;
}

.headerLink {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #1d1f22;
  text-decoration: none;
  position: relative;
  padding-bottom: 30px;
}

.headerIcon {
  cursor: pointer;
}

.cartIcon {
  cursor: pointer;
  position: relative;
}

.cartItemsNumber {
  border-radius: 100%;
  background-color: #1D1F22;
  color: white;
  font-weight: bold;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 11px;
  top: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}